* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    
}

.container {
    max-width: 800px;
    margin: 5rem auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form h2,
.monthly-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.payment-info {
    margin-top: 20px;
}
.parkingContainer {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .map-container {
    height: 600px; /* 更改地圖高度 */
    width: 100%; /* 確保地圖寬度為100% */
    margin-bottom: 20px;
  }
  .footer-container {
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
    margin-top: 2rem;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    
  }
  .list > li > a:link {
    color: azure;
    text-decoration: none;
  }
  .list > li > a:hover {
    color: red;
  }
  .list>li>a:visited {
    color: azure;
    text-decoration: none;
  }

  .drawer{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 4rem;
    width: 400px;
    height: 80%;
    background-color: #e9ce36;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    border: 1px solid black;
    border-radius: 20px;
  }

  .drawer.open{
    transform: translateX(0);
  }

  .parking-name button{
    color: black;
    font-weight: bold;
  }

  .parking-name button:hover{
    color: red;
  }

  .parkingInfo h6{
    font-size: 2.5rem;
    font-weight: bold;
  }

  .parkingInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 10px 0;
  }

  .drawer-btn{
    font-size: 1.5rem;
    font-weight: 700;
    width: 100px;
    border-radius: 30px;
    background-color: lightblue;
    
  }
  .drawer-btn:hover{
    background-color: #007bff;
    color: #ddd;
  }

  @media (max-width: 768px) {
    .map-container {
      height: 400px; /* 在小屏幕上設置較小的高度 */
    }
  }

